@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-y:hidden;
    overflow:hidden;
    display:flex;
    flex-direction:column;
    height:100vh;
}

header {
    background: #2980b9;
    padding:20px;
    color: white;
    display:flex;
    align-items:center;
    justify-content: space-between;
}
main {
    display : flex;
    height: 100%;
    align-items: stretch;
}
.content {
    flex:1;
    overflow-y: scroll;
    color : white;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    flex-flow: row wrap;
    gap: 25px;
    padding: 25px;
}


iframe {
   
   border: none;
   position:absolute;
   z-index:999;
   right:0;
   left:0;
  width: 100%;
  height:100%;
   padding:25px;
   border-radius:15px;
}
.folium-map {

    border-radius:15px;
}

#iframe-container {

  display:none;
   
}
#carte {
    


    position: fixed;
    z-index: 1; /* Sit on top of the page */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Black background with transparency */
    overflow: auto;
   

}

aside{
    background : #343131;
    width : 80px;
    height : calc(100vh - 50px);
}
.Nav {
    color : #ced9d9;
    display: flex;
    flex-direction: column; /* Disposition verticale */
    gap: 80px; /* Espacement uniforme */
    align-items: center;
    font-size:40px;
    justify-content : center;
}
#bouton {
    cursor : pointer;
    font-size: 20px;
    padding: 8px;
    color : #343131;
    background: #2980b9;
    outline:0;
    border:0;
    border-radius: 10px;
    border:2px solid #343131;
}
.card-text {
    color:white;
}
.cardtitle {
    color:white;
    padding:10px;
}
.card-header {
    color:white;
    border-color: white;
}