@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

* , h1, p, h3 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header_main {
    display:flex;
    padding: 15px;
    justify-content: space-between;
    padding-left:25px;
    padding-right:50px;
}
.element_header {
    display:flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    align-items:center;
    text-decoration:none;
}
.container_main, #content {
    display:flex;
    flex-direction:column;
    gap: 100px;

}
#title_main {
    font-size: 20px;
    font-weight: bold;
    align-self:center;

    display:flex;
}
#navbar {
    display:flex;
    flex-flow: row wrap;
    gap: 25px;
    align-items:center;
}
.nav_item {
    text-decoration:none;
    color:inherit;
    color:grey;
}
.nav_item_active {
    border-bottom: 2px solid black;
    color:black;
    
}
.nav_item:hover {
    cursor:pointer;
    color:black;

}
#subtitle_main {
    font-weight:bold;
}
#block_left {
    display:flex;
    justify-content:center;
    flex-direction:column;
    gap: 25px;
}
#block_main {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
    gap: 50px;
}
#image_main {
    width: 500px;
    border-radius: 15px;
}

#stats_main {
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-flow: row wrap;
    gap: 50px;
}
@media only screen and (max-width:800px) {
    #stats_main {
        flex-direction:column;

    }
}
.stat_card {
    display:flex;
    flex-direction:column;
    gap: 10px;
    align-items:center;
    justify-content:center;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    width: 250px;
}
.icon_stat {
    font-size:25px;
}
.stat_data {
    font-weight:bold;
    font-size:25px;
}
#theme_switch {
    border-radius:100%;
    background:black;
    color:white;
    padding:15px;
   
    width:50px;
    height:50px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:25px;
    transition:.5s all;
}
#theme_switch:hover {
    background:grey;
    cursor:pointer;
}
#source_section {
    
    display:flex;
    justify-content:center;
    align-items:center;
}
#source {
    border-left: 2px solid #f97771;
    width: 80vw;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 15px;
    
}

#source_buttons {
    display:flex;
    gap:5px;
    justify-content:flex-end;
    align-items:center;
}
.source_button {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius:15px;
    text-decoration:none;
    color:white;
    width: 100px;
    display:flex;
    justify-content:center;
    align-items:center;
    transition: .5s all;
}
.source_button:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.source_button:nth-child(1) {

    background: #ff5733;
}

.source_button:nth-child(2) {

    background: #71adf9;
}

#map {
    width: 750px;
    height:500px;
}
#container_local {
    display:flex;
    justify-content: space-evenly;
}